.wrapper {
  text-align: center;
}

.flashcard-setup {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: auto;
    justify-content: center;
}

.flashcard-container {
  border: 1px solid #5e76a8;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
  height: 360px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flashcard {
  text-align: center;
}

.flashcard-hiragana {
  font-size: 18px;
  text-align: center;
}

.navigation {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  margin-top: 10px;
}

.btn-off {
  color: #18292e;
  background-color: #c2cacc;

  &:hover {
    background-color: #979d9e;
  }
}

.prev {
    margin-right: 20px;
}

.next {
    margin-left: 20px;
}

.btn {
  min-width: 80px;
  margin-right: 20px;
}
