.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-setup {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  justify-content: center;
}

.flashcard-container {
  border: 1px solid #5e76a8;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
  height: 360px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flashcard {
  text-align: center;
}

.flashcard-hiragana {
  font-size: 18px;
  text-align: center;
}

.quiz-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  border: 1px solid #265f85;
  font-size: 20px;
  padding: 10px;
  width: 100px;
}

.card-range,
.counter {
  margin-top: 10px;
}

.btn-off {
  color: #18292e;
  background-color: #c2cacc;

  &:hover {
    background-color: #979d9e;
  }
}

.prev {
  margin-right: 20px;
}

.next {
  margin-left: 20px;
}

.btn {
  min-width: 40px;
  margin-right: 20px;
}

.navigation button {
  min-width: 50px;
}

.quiz-buttons button {
  width: 100px;
}

.shuffle-btn {
  margin-left: 20px;
}

.counter-form {
  width: 40px;
  text-align: center;
}

fa-icon {
  color: white;
}
