<div class="wrapper">
  <div class="flashcard-setup">
    <button type="button" (click)="prev()" class="btn btn-primary prev">
      <fa-icon [icon]="faChevronLeft" size="lg"></fa-icon>
    </button>
    <div (click)="flip()" class="flashcard-container">
      <div class="flashcard">
        {{ currentFlashcard }}
      </div>
      <div class="flashcard-hiragana">
        {{ currentFlashcardHiragana }}
      </div>
    </div>
    <button type="button" (click)="next()" class="btn btn-primary next">
      <fa-icon [icon]="faChevronRight" size="lg"></fa-icon>
    </button>
  </div>
  <div class="counter">{{ counter }}</div>
  <div class="quiz-buttons">
    <div class="track-counter">
      <button
        type="button"
        (click)="correct()"
        class="btn btn-success next"
        [disabled]="!quizStarted"
      >
        <fa-icon [icon]="faCheck" size="lg"></fa-icon>
      </button>
      <button
        type="button"
        (click)="wrong()"
        class="btn btn-danger prev"
        [disabled]="!quizStarted"
      >
        <fa-icon [icon]="faTimes" size="lg"></fa-icon>
      </button>
    </div>
    <div class="options">
      <button type="button" class="btn btn-primary" (click)="startQuiz()">
        {{ quizLabel }}
      </button>
    </div>
  </div>
  <div class="card-range">
    <span> Study cards: </span>
    <input
      type="text"
      class="counter-form"
      name="input-start"
      [(ngModel)]="inputStart"
      (change)="updateCards()"
    />
    /
    <input
      type="text"
      class="counter-form"
      name="input-end"
      [(ngModel)]="inputEnd"
      (change)="updateCards()"
    />
    <span> of {{ state.originalFlashcardSet.length }} </span>
    <button
      type="button"
      [ngClass]="shuffleBtnClass"
      (click)="shuffle()"
      class="btn btn-primary shuffle-btn"
    >
      <fa-icon [icon]="faRandom" size="lg"></fa-icon>
    </button>
  </div>
  <app-quiz-results></app-quiz-results>
</div>
